
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

td,
th {
  border: 1px solid #353434;
  text-align: left;
  padding: 15px;

}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 80px 0 80px 0;

}